PORT=8083
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=order_db
JWT_SECRET=0b78533e885cb954453e18266037bc9a80edb4227e61f7fc3f4f8e1787ce0167
RESTAURANT_SERVICE_URL=http://restaurant-service:8082
USER_SERVICE_URL=http://user-service:8081
